@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #199edc;
  --primary-dark: #1487bc;

  --bg: #f8fbff;

  --white: #ffffff;

  --heading: #231f20;
  --text: #555555;

  --border: #e5e7eb;

  --radius: 18px;

  --shadow: 0 12px 30px rgba(25, 158, 220, .10);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:
    linear-gradient(
    180deg,
    #f8fbff 0%,
    #eef8fd 100%);

    color:var(--text);
}